@import "../../assets/style/_adaptiv-value";
@import "../../assets/style/_variables";

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
// Додавання товарів в корзину
.flyImage {
  opacity: 1;
  position: fixed;
  z-index: 100;
  transition: all 2s ease 0s;
}
.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 15px;
  padding: 10px;
}
